<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import LoginViewVue from './views/LoginView.vue';
import MainView from './views/MainView.vue';
import { useLoginStore } from "@/stores/login";

const loginStore = useLoginStore();

onMounted(() => {
  loginStore.loadData();
});

</script>

<template>
  <LoginViewVue v-if="!loginStore.isLogin" />
  <MainView v-if="loginStore.isLogin" @logout="loginStore.logout" :username="loginStore.username"/>
</template>

<style scoped>

</style>
